<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ec19a519-087b-41c1-af55-7695d9ca02e1/resourceGroups/exercise1/providers/Microsoft.Web/sites/aayush-patel-chores</ResourceId>
    <ResourceGroup>exercise1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://aayush-patel-chores.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://aayush-patel-chores.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$aayush-patel-chores</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>